body {
    background-color: 9B26AF;
}


h1 {
    color: 68efad;
    margin-left: auto;
    margin-right: auto;
    width: 332;
}

div.profileImage {
    
    width: 300px;
    height: 300px;
    border-radius: 50%; /*don't forget prefixes*/
    background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAAQgAAAAJDI0MDkzN2Q4LTkxOWEtNDI1OS1hNjk1LTg0NTVkZTcyOTQyOA.jpg");
    background-position: center center;
    background-size: cover;
    
}