body {
   
    background: #8E0E00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    
}


h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

div.profileImage {
    
    width: 300px;
    height: 300px;
    
    border-radius: 100%; /*don't forget prefixes*/
    border-color: floralwhite;
    background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAAQgAAAAJDI0MDkzN2Q4LTkxOWEtNDI1OS1hNjk1LTg0NTVkZTcyOTQyOA.jpg");
    background-position: center center;
    background-size: cover;
    
}

