#top {
    
    background-image: url("RyanNeumann.github.io/bg.jpg");
    background-position: center; 
    background-size:cover;    
    text-align: center;
    
}

h1.Name{
    
    background: rgba(0,0,0,0.75);
    text-shadow: 0px 1px palegreen;
    color: white;
    text-align: center;
    width: 100%;
    padding: 30px;
    margin: 0;
    font-family: cursive;
    font-size: 70px;
    
}

hr{
    
   padding: 0;
    margin: 0;
    
}

body {
    
    background: linear-gradient(0deg, #4c4c4c, black);
    margin: 0 auto !important;
    padding: 0;
    
}

.wrap{
        
    width: 100%;
    text-align:center;
    height: 100%;
}

.left{
    
    height: 350px;
    width:50%;
    float: left;
    
    
}

.center{
    
    width:0%;
    text-align: center;
    margin: 0 auto !important;
    background: white;
   
}

.right{
    
    height: 350px;
    margin: 0 auto;
    width: 49.8%;
    float: right;
    
}

.left,
.right,
.center {
    
    font-size: 100%;
    
}

h2.columnHead:hover {
    
    transition: color 2.0s ease;
    color: limegreen;
    
}

.profile {
    
    border: solid thick white;
    box-shadow: 0px 10px 20px grey;
    border-radius: 50%;
    width: 20%;
    align-items: center;
    margin: 30px;
    transition: all 1.5s ease;
    
}

.profile:hover {

    
    
    border: solid medium black;
    box-shadow: 0px 10px 20px ghostWhite;
    width: 25%;
}

h2.columnHead {
    
    color: white;
    text-decoration: underline;
    border-right: thin solid black;
    font-size: 40px;
    
}

h3 {
    
    color: white;
    text-decoration: underline;
    font-size: 20px;
    
}

p.descText{
    
    text-align: center;
    font-size: 20px;
    color: palegreen;
    
}

p.detailText {
    
    
    text-align: center;
    color: palegreen;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1.25px;
    line-height: 3;
    
}

p.columnText {
    
    padding: 0px 10px 0px 10px;
    text-align: left;
    text-indent: 35px;
    color: palegreen;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1.25px;
    line-height: 3;
    padding-right: 20px;
    padding-left: 20px;
    
}

ul {
    
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 20px;
    color: white;
    list-style-type: none;
    text-align: center;
    float:left;
    width: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

a {
    
    
    color: white;
    text-decoration: underline;
    text-decoration-color: palegreen;
    transition: all 1s ease-in-out;
    
}


a:hover {
    
    text-decoration: underline;
    color: palegreen;
    text-decoration-color: white;
    
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	
    text-align: center;
	align-items: center;
	margin:50px 0px;
    width: 50%;
    
}

#contact h3 {
	color: black;
	display: block;
	font-size: 30px;
	font-weight: 400;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
    align-items: center;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin: 0 0 5px;
	padding:10px;
    
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:50%;
	border:none;
	background: linear-gradient(180deg, white , black);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:black;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50vh; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    background-color: rgba(0,0,0,1.0); /* Set a background color */
    color: palegreen; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition: all 1s ease;
    border-color: aqua;
    border: 2px solid palegreen;
    
}

#myBtn:hover {
    
    color: black;
    background-color: palegreen; /* Add a dark-grey background on hover */
    border: 1px solid black;
}


